<form class="container">
    <h1>Prijava korisnika</h1>
    <div class="form-group">
        <label for="usernameInput">Korisničko ime</label>
        <input type="text" id="usernameInput" name="username" placeholder="Unesite korisničko ime" class="form-control" autocomplete="off" [(ngModel)]='username'>
    </div>
    <div class="form-group">
        <label for="passwordInput">Lozinka</label>
        <input type="password" id="passwordInput" name="password" placeholder="Unesite lozinku" class="form-control" autocomplete="off" [(ngModel)]='password'>
    </div>
    <br>
    <div id="alert" class="alert alert-danger" role="alert">
        Korisničko ime ili lozinka nisu ispravni!
    </div>
    <div class="row">
        <button class="btn btn-primary" id="loginButton"  (click)='login()'>Prijava</button>
    </div>
    <div class="row text-center">
        <a routerLink="/register" class="link-secondary">Nemate nalog? Registrujte se.</a>
    </div>
</form>