<form class="container">
    <h1>Promena lozinke</h1>
    <div class="form-group">
        <label for="oldInput">Stara lozinka</label>
        <input type="password" id="oldInput" name="old" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" class="form-control" autocomplete="off" [(ngModel)]='oldP'>
    </div>
    <div class="form-group">
        <label for="passwordInput">Nova lozinka</label>
        <input type="password" id="passwordInput" name="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" class="form-control" autocomplete="off" [(ngModel)]='newP'>
    </div>
    <div class="form-group">
        <label for="passwordConfirmInput">Potvrda lozinke</label>
        <input type="password" id="passwordConfimrInput" name="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" class="form-control" autocomplete="off" [(ngModel)]='newPC'>
    </div>
    <br>
    <div id="alert" class="alert alert-danger" role="alert">
        Korisničko ime ili lozinka nisu ispravni!
    </div>
    <div class="row">
        <button class="btn btn-primary" id="loginButton"  (click)='change()'>Promeni lozinku</button>
    </div>
</form>